extends layout

block content
  meta(http-equiv="refresh", content="1; url='/'")
  p
    | You have successfully logged out. You will redirect back to front page.
  p
    != " Click <a href='/'>here</a> if you are not there after 2 seconds."
